## combine the words with the product names

In [1]:
#list of words to pair with products
words = ['buy', 'price', 'discount', 'promotion', 'promo', 'shop']

#combine the words with the product names
products = ['sofas', 'convertible sofas', 'love seats', 'recliners', 'sofa beds']

In [4]:
#create an empty list to grab the keyword created
keywords_list = []

#loop through products
for product in products:
    #loop through word: 
    for word in words:
        keywords_list.append([product, product + ' ' + word])
        keywords_list.append([product, word + ' ' + product])
#inspect keyword list
keywords_list

[['sofas', 'sofas buy'],
 ['sofas', 'buy sofas'],
 ['sofas', 'sofas price'],
 ['sofas', 'price sofas'],
 ['sofas', 'sofas discount'],
 ['sofas', 'discount sofas'],
 ['sofas', 'sofas promotion'],
 ['sofas', 'promotion sofas'],
 ['sofas', 'sofas promo'],
 ['sofas', 'promo sofas'],
 ['sofas', 'sofas shop'],
 ['sofas', 'shop sofas'],
 ['convertible sofas', 'convertible sofas buy'],
 ['convertible sofas', 'buy convertible sofas'],
 ['convertible sofas', 'convertible sofas price'],
 ['convertible sofas', 'price convertible sofas'],
 ['convertible sofas', 'convertible sofas discount'],
 ['convertible sofas', 'discount convertible sofas'],
 ['convertible sofas', 'convertible sofas promotion'],
 ['convertible sofas', 'promotion convertible sofas'],
 ['convertible sofas', 'convertible sofas promo'],
 ['convertible sofas', 'promo convertible sofas'],
 ['convertible sofas', 'convertible sofas shop'],
 ['convertible sofas', 'shop convertible sofas'],
 ['love seats', 'love seats buy'],
 ['love seats', 'buy love seats'],
 ['love seats', 'love seats price'],
 ['love seats', 'price love seats'],
 ['love seats', 'love seats discount'],
 ['love seats', 'discount love seats'],
 ['love seats', 'love seats promotion'],
 ['love seats', 'promotion love seats'],
 ['love seats', 'love seats promo'],
 ['love seats', 'promo love seats'],
 ['love seats', 'love seats shop'],
 ['love seats', 'shop love seats'],
 ['recliners', 'recliners buy'],
 ['recliners', 'buy recliners'],
 ['recliners', 'recliners price'],
 ['recliners', 'price recliners'],
 ['recliners', 'recliners discount'],
 ['recliners', 'discount recliners'],
 ['recliners', 'recliners promotion'],
 ['recliners', 'promotion recliners'],
 ['recliners', 'recliners promo'],
 ['recliners', 'promo recliners'],
 ['recliners', 'recliners shop'],
 ['recliners', 'shop recliners'],
 ['sofa beds', 'sofa beds buy'],
 ['sofa beds', 'buy sofa beds'],
 ['sofa beds', 'sofa beds price'],
 ['sofa beds', 'price sofa beds'],
 ['sofa beds', 'sofa beds discount'],
 ['sofa beds', 'discount sofa beds'],
 ['sofa beds', 'sofa beds promotion'],
 ['sofa beds', 'promotion sofa beds'],
 ['sofa beds', 'sofa beds promo'],
 ['sofa beds', 'promo sofa beds'],
 ['sofa beds', 'sofa beds shop'],
 ['sofa beds', 'shop sofa beds']]

## convert the list of lists into a DataFrame

In [6]:
import pandas as pd
keywords_df = pd.DataFrame.from_records(keywords_list)
keywords_df.head()

       0               1
0  sofas       sofas buy
1  sofas       buy sofas
2  sofas     sofas price
3  sofas     price sofas
4  sofas  sofas discount

## rename the column names

In [9]:
keywords_df = keywords_df.rename(columns={0: 'Ad Group', 1: 'Keyword'})

## add a campaign column

In [10]:
keywords_df['Campaign'] = 'SEM_Sofas'
keywords_df.head(3)

  Ad Group      Keyword   Campaign
0    sofas    sofas buy  SEM_Sofas
1    sofas    buy sofas  SEM_Sofas
2    sofas  sofas price  SEM_Sofas

## create the match type column

In [11]:
keywords_df['Criterion Type'] = 'Exact'

## duplicate all the keywords into 'phrase' match

In [13]:
keywords_phrase = keywords_df.copy()

#change the criterion type match to phrase
keywords_phrase['Criterion Type'] = 'Phrase'

#append the dataframes
keywords_df_definite = keywords_df.append(keywords_phrase)
keywords_df_definite

     Ad Group              Keyword   Campaign Criterion Type
0       sofas            sofas buy  SEM_Sofas          Exact
1       sofas            buy sofas  SEM_Sofas          Exact
2       sofas          sofas price  SEM_Sofas          Exact
3       sofas          price sofas  SEM_Sofas          Exact
4       sofas       sofas discount  SEM_Sofas          Exact
..        ...                  ...        ...            ...
55  sofa beds  promotion sofa beds  SEM_Sofas         Phrase
56  sofa beds      sofa beds promo  SEM_Sofas         Phrase
57  sofa beds      promo sofa beds  SEM_Sofas         Phrase
58  sofa beds       sofa beds shop  SEM_Sofas         Phrase
59  sofa beds       shop sofa beds  SEM_Sofas         Phrase

[120 rows x 4 columns]

In [20]:
#create domains
keywords_df_definite['Final URL'] = 'YourDomainSofas.com/' + keywords_df_definite['Ad Group']
keywords_df_definite.head()

,Ad Group,Keyword,Campaign,Criterion Type,Final URL
0,sofas,sofas buy,SEM_Sofas,Exact,YourDomainSofas.com/sofas
1,sofas,buy sofas,SEM_Sofas,Exact,YourDomainSofas.com/sofas
2,sofas,sofas price,SEM_Sofas,Exact,YourDomainSofas.com/sofas
3,sofas,price sofas,SEM_Sofas,Exact,YourDomainSofas.com/sofas
4,sofas,sofas discount,SEM_Sofas,Exact,YourDomainSofas.com/sofas

## save and summarize

In [21]:
keywords_df_definite.to_csv('keywords.csv', index = False)
encapsulation = keywords_df_definite.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
encapsulation

Ad Group           Criterion Type
convertible sofas  Exact             12
                   Phrase            12
love seats         Exact             12
                   Phrase            12
recliners          Exact             12
                   Phrase            12
sofa beds          Exact             12
                   Phrase            12
sofas              Exact             12
                   Phrase            12
Name: Keyword, dtype: int64